<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Regression" verbose="1">
    <test name="On Chrome" >
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="checkOut.CheckOutTests"/>
<!--            <class name="login.LoginTests1"/>-->
        </classes>
    </test>
<!--    <test name="On FireFox" parallel="classes" thread-count="2">-->
<!--        <parameter name="browser" value="headlessfirefox"/>-->
<!--        <classes>-->
<!--            <class name="login.LoginTests"/>-->
<!--            <class name="login.LoginTests1"/>-->
<!--            <class name="login.LoginTests2"/>-->

<!--        </classes>-->
<!--    </test>-->

</suite>
